body {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
}

.card {
  background-color: transparent;
  margin: 6px 6px 6px 6px;
  width: 22rem;
}

footer {
  height: 20px;
  width: 95%;
}

.circle {
  display: relative;
  margin: 0 auto 0 auto;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
  border-radius: 50%;
}

img {
  margin: 5px 5px 5px 5px;
  transition: opacity 0.3s ease-in-out;
}

img:hover {
  opacity: 0.5;
}

.super-bold {
  font-size: 30px;
  font-weight: 500;
}

.imp-links {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  font-family: monospace;
  margin: 5px;
}

.space-up {
  margin-top: 20px;
}

.fix-top {
  /* top right bottom left */
  margin: 100px auto 10px auto;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.custom-icon {
  font-size: 30px;
  margin: 10px;
}
